<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <div class="btn btn-large btn-default">
      <%= link_to "フォローしている人　followings",   followings_user_path(@user) %>
    </div>
    <div class="btn btn-large btn-default">
      <%= link_to "フォロワー　followers",   followers_user_path(@user) %>
    </div>
  </aside>
  <div class="col-md-8">
    <div class="panel-body">
      <h2 class="txt_left">MY PROFILE</h2>
 
      自己紹介： <%= @user.description %><br />
      <div style="line-height:2;">
      現住所： <%= @user.location %><br />
      誕生日： <%= @user.birthdate %>
 
      <br />
      連絡先：: <%= @user.email %><br />
    </div>
  </div>
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    <% end %>


