<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

<div class="col-sm-6 col-sm-offset-4">
<div class="panel-body">
  <h2 class="txt_left">MY PROFILE</h2>
 
  自己紹介： <%= @user.description %><br />
  <div style="line-height:2;">
  現住所： <%= @user.location %><br />
  誕生日： <%= @user.birthdate %>
 
  <br />
  連絡先：: <%= @user.email %><br />
  </div>
</div>
</div>
